<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ✅ AGREGAR AQUÍ -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainActivity"
    ...>
    <!-- resto del archivo -->
</application>
    </manifest>